<!--* This Bluemix app uses Watson's QAAPI as a service and was created using NodeExpress
* Designed and developed by: Tinniam V Ganesh
* Date: 8 Oct 2014
* 
*/--><!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/stylesheets/style.css"></head><body><h1></h1><h2>Welcome to Watson's QAAPI</h2><ol><li> <a href="/question">Simple post synchronous query to Watson</a></li><li><a href="/evidence">Ask Watson for responses based on evidence provided</a></li><li><a href="/items">Ask Watson for number of responses to question</a></li><li><a href="/format">Ask Watson and get a formatted response</a></li></ol></body></html>